/* PALERA DE COLORES */
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/* 1rem = 10px */
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    width: 120rem;
    margin: 0 auto; /*top, rigth, bottom, left*/
}

.navegacionBg{
    background-color: var(--secundario);
}

.navegacionPrincipal{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navegacionPrincipal a{
    color: var(--blanco);
    text-decoration: none;
}